.catalog {
    background-color: #9c9c9c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height:50ch ;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    gap:5%;
  }
  
  .catalog-item {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }